<section class="py-3 mb-2 h-100">
  <div class="container px-2 px-lg-5 mt-1">
    <div>
      <p class="text-center fs-5 fw-bolder lead text-black-50 mb-3 fst-italic"> Our products </p>

      <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
        {{!-- a card --}}
        {{#each products}}
        <div class="col mb-5">
          <div class="card h-100">
            <!-- Sale badge-->
            {{#if isSale}}
            <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Sale</div>
            {{/if}}
            <!-- Product image-->
            <img class="card-img-top" src={{this.thumbnail}} alt={{this.title}} />
            <!-- Product details-->
            <div class="card-body p-4">
              <div class="text-center">
                <!-- Product name-->
                <h5 class="fw-bolder">{{this.title}}</h5>
                <!-- Product reviews-->
                <div class="d-flex justify-content-center small text-warning mb-2">
                  <div class="bi-star-fill">{{this.description}}</div>
                </div>
                <!-- Product price-->
                <span class="text-muted text-decoration-line-through">${{this.oldPrice}}</span>
                ${{this.price}}
              </div>
            </div>
            <!-- Product actions-->
            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
              <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Add to cart</a></div>
            </div>
          </div>
        </div>
        {{/each}}
      </div>
    </div>
  </div>
</section>